body {
  font-family: "Afacad", sans-serif; /* Applying the Google Font to the entire page */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}
.header {
  text-align: center;
  padding: 1em;
  background-color: #000000;
}
.nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 1em 0;
}
.nav a {
  color: white;
  padding: 0 1em;
  text-decoration: none;
  margin: 0 60px;
}
.nav a:hover {
  color: #ddd;
}
.section {
  padding: 0.5em;
  text-align: center;
}
.footer {
  text-align: center;
  padding: 1em;
  background-color: #f2f2f2;
}

.container {
  display: flex;
}

.container-item {
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
